*{font-family: poppins, sans-serif;}

body {
  background-color: black;

}

.menu{position: relative;
width: 100%;
height: 100px;
}

.container {
  width: 6.5vw;
  max-width: 240px;
  margin-left: 20px;
  text-align: center;
  float: left;
  background-color: black;
  border: 1px solid white;
}

#sezam-loader .st0{
  fill:#FFFFFF;
}
#sezam-loader .st1{
  fill:#1D1D1B;
}

#sezam-loader .st0,
#sezam-loader .st1 {
  -webkit-animation: draw 2700ms ease-in-out infinite; /* Safari 4+ */
  -moz-animation:    draw 2700ms ease-in-out infinite; /* Fx 5+ */
  -o-animation:      draw 2700ms ease-in-out infinite; /* Opera 12+ */
  animation:         draw 2700ms ease-in-out infinite;
  stroke: #FFFFFF;
}

@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
@-moz-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
@-o-keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}
@keyframes draw {
  0% {
    stroke-dasharray: 0 800;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  37% {
    stroke-dasharray: 600 0;
    stroke-dashoffset: 200;
    fill-opacity: 0;
    stroke-width: 4;
  }
  50% {
    fill-opacity: 1;
    stroke-width: 0;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
  }
}

#banner #nav-main {
    width: 90%;
    float: left;
    display: inline;
    height: 14vh;
    background-color: black;
    border-bottom: 1px solid white;
}

#banner .nav li {
    display: flex;
    padding: 1em 0;
    width: 32%;
    float: left;
    align-content: center;
    justify-content: center;
}

#banner .nav li a:link, 
#banner .nav li a:visited {
    position: absolute;
    z-index: 1;
    padding: 0 5px;
    color: #fefefe;
    font-size: 12px;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

#banner .nav li a:link::before, 
#banner .nav li a:link::after, 
#banner .nav li a:visited::before, 
#banner .nav li a:visited::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    border: 2px solid white;
    border-radius: 50%;
    content: "";
    z-index: 10;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -o-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);
}

#banner .nav li a:link::after, 
#banner .nav li a:visited::after {
    width: 60px;
    height: 60px;
    border-width: 3px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -o-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.is-uppercase {
    text-transform: uppercase;
    letter-spacing: 1px;
}

a {text-decoration: none;}


#banner .nav li.active a {
    color: #fefefe;
}


#banner .nav li.active a::before, 
#banner .nav li.active a::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    content: "";
    z-index: 10;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.0125);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1.0125);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1.0125);
    -o-transform: translateX(-50%) translateY(-50%) scale(1.0125);
    transform: translateX(-50%) translateY(-50%) scale(1.0125);
}

#banner .nav li.active a::after {
    width: 50px;
    height: 50px;
    border-width: 3px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}

#banner .nav li a:link:hover::before, #banner .nav li a:link:hover::after, #banner .nav li a:link:focus::before, #banner .nav li a:link:focus::after, #banner .nav li a:visited:hover::before, #banner .nav li a:visited:hover::after, #banner .nav li a:visited:focus::before, #banner .nav li a:visited:focus::after {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}

#banner .nav li a:link:hover::before, #banner .nav li a:link:hover::after, #banner .nav li a:link:focus::before, #banner .nav li a:link:focus::after, #banner .nav li a:visited:hover::before, #banner .nav li a:visited:hover::after, #banner .nav li a:visited:focus::before, #banner .nav li a:visited:focus::after {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.slideshow-container {
  width: 80vw;
  height: 90vh;
  position: relative;
  margin: auto;

  overflow: hidden;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.circle{width: 20vw; height: 250px;
 float: left; background-color: white; margin-top: 5vh;
 margin-left: 6vw; margin-right: 6vw; 
 border-radius: 50%; text-align: center;
position: relative;
overflow: hidden;
background-size: cover;
background-position: center;
margin-bottom: 10vh;}
.circle h1{opacity: 0.8;
font-size: 5vw;
color: black}

.quota{font-size: 25px;
color: white;
font-weight: bolder;
text-align: center;
margin: 0 auto;
width: 50%;}


footer{
  position: relative;
  bottom: 0;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
 
  padding: 55px 50px;
  margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}
 
.footer-distributed .footer-left{
  width: 40%;
}
 
.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
 
.footer-distributed h3 span{
  color:  #5383d3;
  font: normal 36px 'Cookie', cursive;
}
 
 
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
 
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
 
 
.footer-distributed .footer-center{
  width: 35%;
}
 
.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}
 
.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}
 
.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}
 
.footer-distributed .footer-right{
  width: 20%;
}
 
.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
 
.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
  margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
 
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
 
  margin-right: 3px;
  margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
  .footer-distributed{
    font: bold 14px sans-serif;
  
  }
 
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
 
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
 
}